<?xml version='1.0' encoding='utf-8'?>
<!--
/*
 * Copyright 2016 Thitipong Jampajeen <jampajeen@gmail.com>.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 -->
<plugin id="cordova-plugin-panasonic-toughpad" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginPanasonicToughpad</name>
    <js-module name="CordovaPluginPanasonicToughpad" src="www/CordovaPluginPanasonicToughpad.js">
        <clobbers target="PanasonicToughpad" />
    </js-module>
    <hook type="after_plugin_add" src="hooks/after_plugin_add.js" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginPanasonicToughpad">
                <param name="android-package" value="com.volho.example.cordova.plugin.CordovaPluginPanasonicToughpad" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaPluginPanasonicToughpad.java" target-dir="src/com/volho/example/cordova/plugin" />
    </platform>
</plugin>
